

input{
    border: solid 0;
    border-radius: 3px;
}

input[type=text], input[type=password]{
    padding: 10px;
    font-size: 18px;
    outline: none;
    width: 370px;
}
input[type=submit]{
    background-color: #1E69E3;
    color: white;
    padding: 8px;
    border: none;
    width: 200px;
}
.center{
    text-align: center;
}

.opcion{
    padding: 5px 0;
}

.barra{
  background: rgb(34,40,49);
  background: linear-gradient(277deg, rgba(34,40,49,1) 0%, rgba(57,62,70,1) 35%, rgba(0,173,181,1) 100%);
    border-radius: 4px;
    padding: 10px;
}

.seleccionado{
    background-color: rgb(33, 90, 143);
    border-radius: 4px;
    color: white;
    padding: 10px;
}

#menus{
  background: rgb(34,40,49);
  background: linear-gradient(277deg, rgba(34,40,49,1) 0%, rgba(57,62,70,1) 35%, rgba(0,173,181,1) 100%);
    padding: 10px;
    
}
#menus img{
  display: inline-block;
  position: fixed; left: 48%;top: 0%;
  align-items: center;
  justify-content: center;
  height: 60px;
}

#menus ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    color: #eee;
    
}
#menus ul li{
    display: inline;
    width: -40px;
}
#menus ul li a{
    color: #1E69E3;
    text-decoration: none;
    
}
#menus ul li a:hover{
    color: rgb(227, 109, 30);
    text-decoration: none;
}
.cerrar-sesion{
    float: right;
}

#bien{
  text-align: center;
  color: #eee;
}
----------------
body {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    overflow: scroll;
  }
  
  html,
 body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  
  body {
    background: rgb(34,40,49);
    background: linear-gradient(328deg, rgba(34,40,49,1) 0%, rgba(57,62,70,1) 35%, rgba(0,173,181,1) 100%);
    transform-style: preserve-3d;
    transform: perspective(60rem);
    position: fixed;
    align-items: center;
    justify-content: center;
  }
  
  .Menu-list {
    font-size: 4.25rem;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateX(-10deg) rotateY(20deg);
  }
  
  .Menu-list-item {
    position: relative;
    color: transparent;
    cursor: pointer;
  }
  .Menu-list-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 49%;
    left: -10%;
    right: -10%;
    height: 4px;
    border-radius: 4px;
    margin-top: -2px;
    background: #FF2C75;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    z-index: 1;
  }
  
  .Mask {
    display: block;
    position: absolute;
    overflow: hidden;
    color: #FF2C75;
    top: 0;
    height: 49%;
    transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  }
  .Mask span {
    display: block;
  }
  
  .Mask + .Mask {
    top: 48.9%;
    height: 51.1%;
  }
  .Mask + .Mask span {
    transform: translateY(-49%);
  }
  
  .Menu-list-item:hover .Mask,
  .Menu-list-item:active .Mask {
    color: #FFF;
    transform: skewX(12deg) translateX(5px);
  }
  .Menu-list-item:hover .Mask + .Mask,
  .Menu-list-item:active .Mask + .Mask {
    transform: skewX(12deg) translateX(-5px);
  }
  .Menu-list-item:hover::before,
  .Menu-list-item:active::before {
    transform: scale(1);
  }

  .Division{
    width: auto;
    
  }
  p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, 0.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: relative;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
  }
  p span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    /* Clip Background Image */
    background: url(textfill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  
  /* Animate Background Image */
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  footer{
    position: flex; 
    bottom: 0;
    width: 100%;
    height: 5%;
}


footer img{
    width: 10%;
    position: flex; 
   
}

#logof{
    width: 8%;
}

#micro{
    margin-top: 5%;
    width: 15%;
}
a{
  text-decoration: none;
}