body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(34,40,49);
  background: linear-gradient(277deg, rgba(34,40,49,1) 0%, rgba(57,62,70,1) 35%, rgba(0,173,181,1) 100%);
  overflow: scroll;
}
form{
    background: rgb(34,40,49);
  background: linear-gradient(277deg, rgba(34,40,49,1) 0%, rgba(57,62,70,1) 35%, rgba(0,173,181,1) 100%);
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    color: #eee;

}

#logo{
    position: flex;
    width: 100%;
    height: 50%;
}
input{
    border: solid 0;
    border-radius: 3px;
}

input[type=text], input[type=password]{
    padding: 10px;
    font-size: 18px;
    outline: none;
    width: 370px;
}
input[type=submit]{
    background-color: #1E69E3;
    color: white;
    padding: 8px;
    border: none;
    width: 200px;
}
.center{
    text-align: center;
}

.opcion{
    padding: 5px 0;
}

.barra{
    background-color:rgb(152, 196, 236);
    border-radius: 4px;
    padding: 10px;
}

.seleccionado{
    background-color: rgb(33, 90, 143);
    border-radius: 4px;
    color: white;
    padding: 10px;
}

#menu{
    background-color: #eee;
    padding: 10px;
}
#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    
}
#menu ul li{
    
    display: inline;
}
#menu ul li a{
    color: #1E69E3;
    text-decoration: none;
}
#menu ul li a:hover{
    color: rgb(227, 109, 30);
    text-decoration: none;
}
.cerrar-sesion{
    float: right;
}

footer{
    position: flex; 
    bottom: 0;
    width: 100%;
    height: 5%;
}


footer img{
    width: 10%;
    position: flex; 
   
}

#logof{
    width: 8%;
}

#micro{
    margin-top: 5%;
    width: 15%;
}
#errorl{
    color: crimson;
    background-color: aliceblue;
}